/* swiper-styles.css */

.visa-swiper .swiper-slide {
  transition: transform 0.5s ease, z-index 0.5s ease;
  opacity: 0.5;
  z-index: 1;
}

.visa-swiper .swiper-slide-prev,
.visa-swiper .swiper-slide-next {
  transform: scale(0.8) translateZ(-150px);
  z-index: 2;
}

.visa-swiper .swiper-slide-prev + .swiper-slide-prev,
.visa-swiper .swiper-slide-next + .swiper-slide-next {
  transform: scale(0.6) translateZ(-300px);
  z-index: 1;
  opacity: 0.3;
}

.visa-swiper .swiper-slide-active {
  transform: scale(1.1) translateZ(0);
  opacity: 1;
  z-index: 3;
}
